<link rel="stylesheet" type="text/css" href="style.css">
h1{
  font-family: verdana;
  color:white;
}

 h2{
  font-family: verdana;
  color:white;
}
p{font-family:verdana;
 color:white;
}

body{background-image:url(https://i.ytimg.com/vi/3HKNwzuwBE8/mqdefault.jpg)}
